/*Import Roboto Font */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-family: 'Roboto', 'sans-serif';
}

a { text-decoration: none; }
