//SCSS template file

// ====================== //
//        THEME           //
// ====================== //

$primaryColor: #AD3D33;
$secondaryColor: #3F51B5;
$highlightColor: #FFBD6B;

//document
$bodyColor: #E1E1E1;
$textColor: #3B3B3B;
$borderColor: #CCCCCC;
$borderColorDark: #B3B3B3;
$fontSize: 15px;
$lineHeight: 1.5em;

//colors
$successColor: #4CAF50;
$warningColor: #FF9800;
$infoColor: #03A9F4;
$errorColor: #C62828;

// ====================================================== //
//        PADDINGS & MARGINS & BORDERS &INDENTS           //
// ====================================================== //

$paddingLarge: 16px;
$paddingBig: 12px;
$paddingMedium: 8px;
$paddingSmall: 4px;
$paddingRectangle: 8px 12px;

$paragraphMargin: 8px 0px 8px 0px;
$paragraphIndent: 0px;

$listMargin: 16px 0px 0px 12px;
$listItemMargin: 0px 0px 0px 24px;
$listItemPadding: $paddingMedium;
$listItemTextIndent: $paddingMedium;
$listItemTypeColor: $secondaryColor;

$borderRadius: 2px;

// =============================== //
//        NAVBAR PRIMARY           //
// =============================== //

$navbarBackground: $primaryColor;
$navbarTextColor: white;
$navbarLinkColor: white;
$navbarLinkHoverColor: $highlightColor;
$navbarLinkActiveColor: $primaryColor;
$navbarLinkActiveBackground: lighten($highlightColor, 10%);
$navbarPadding: $paddingLarge;
$navbarElevation: 2px;

// ====================== //
//        TABLE           //
// ====================== //

$tableCellPadding: $paddingRectangle;
$tableBandColor: lighten($secondaryColor, 40%);


// ======================= //
//        BUTTON           //
// ======================= //

$btnFontSize: 15px;
$btnFontWeight: 500;
$btnPadding: $paddingRectangle;
$btnBorderRadius: $borderRadius;
$btnElevation: 0px;
$btnHoverElevation: 1px;

$btnColorMap : (
  primary: $primaryColor,
  secondary: $secondaryColor,
  success: $successColor,
  warning: $warningColor,
  info: $infoColor,
  error: $errorColor
);


// ============= //
//     CARD      //
// ============= //

$cardBorderRadius: $borderRadius;
$cardBackground: white;
$cardBorderColor: $borderColor;
$cardElevation: 0px;
$cardItemPadding: $paddingLarge;


// ============= //
//     TABS      //
// ============= //

$tabBorderRadius: $borderRadius;
$tabListItemPadding: $paddingRectangle;
$tabContentPadding: $paddingLarge;
$tabContentMargin: 16px;
$tabActiveColor: $secondaryColor;
$tabHoverColor: lighten($secondaryColor, 10%);

// ============== //
//     MODAL      //
// ============== //

$modalOverlayColor: rgba(0,0,0,0.9);
$modalBackground: white;
$modalTitleColor: $primaryColor;
$modalBorderRadius: $borderRadius;
$modalContainerWidth: 60%;
$modalPadding: $paddingLarge;
$modalBorderColor: $borderColor;

// ============= //
//     FORM      //
// ============= //

$formPadding: $paddingLarge;
$formItemPadding: $paddingSmall;
$formItemBorderRadius: $borderRadius;
$formItemBorderColor: $borderColor;
$formItemMargin: $paddingMedium;
$formItemFocusColor: $primaryColor;

// =============== //
//     FOOTER      //
// =============== //

$footerPadding: $paddingLarge;
$footerBackground: $textColor;
$footerTextColor: white;

// =================================== //
//        MIXINS & FUNCTIONS           //
// =================================== //

@mixin flex($direction) {
  display: flex;
  display: -webkit-flex;
  flex-direction: $direction;
  -webkit-flex-direction: $direction;
}

@mixin inline-flex($direction) {
  display: inline-flex;
  display: -webkit-inline-flex;
  flex-direction: $direction;
  -webkit-flex-direction: $direction;
}

@mixin parallax() {
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin elevation($height) {
  $shadowColor: rgba(0,0,0,0.23);
  /*Adds Material Shadow*/
  box-shadow: $height $height $height*2.5 $shadowColor, 0px 0px $height*2.5 $shadowColor;
}




// =========================== //
//        TYPOGRAPHY           //
// =========================== //

h1 { font-size: 3em; color: $primaryColor; }
h2 { font-size: 2.5em; color: $secondaryColor; }
h3 { font-size: 2em; color: $secondaryColor; }
h4 { font-size: 1.5em; text-transform: uppercase; font-weight: 500; color: $primaryColor}
h5 { font-size: 1em; color: $secondaryColor; }
h6 { font-size: 0.8em; }
p { margin: $paragraphMargin; text-indent: $paragraphIndent; text-align: justify;}
ul.ul-list {
  margin: $listMargin;
  list-style-type: none;
  li {
    margin: $listItemMargin;
    padding: $listItemPadding;
    &:before {
      content: "";
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      border: 3px solid $listItemTypeColor;
      margin-right: $listItemTextIndent;
    }
  }
}

a {
  color: $primaryColor;
  transition: color 0.3s ease-in-out;
  &:hover { color: $highlightColor; }
}

// ======================== //
//        HELPERS           //
// ======================== //

.pull-left { margin-right: auto;}
.pull-right { margin-left: auto;}
.place-holder { margin: auto; opacity: 0.7; font-weight: 100; font-size: 3em;}
.space-around {
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
}
.img-fluid {
  width: 100%;
}

.indent-block {
  display: block;
  padding-left: $paddingLarge;
}

// ====================================== //
//        COMPONENTS & WRAPPERS           //
// ====================================== //

:root {
  font-size: $fontSize;
}

body {
  background: $bodyColor;
  color: $textColor;
  * {
    line-height: $lineHeight;
  }
}

.wrapper {
  padding: $paddingLarge;
  background: $bodyColor;
  border-top: 1px dashed $borderColorDark;
  overflow-x: auto;
  h3.title {
    @include flex(row);
    align-items: center;
    -webkit-align-items: center;
    width: 100%;
    padding: $paddingBig;
    border-radius: $borderRadius $borderRadius 0px 0px;
    background: $secondaryColor;
    color: white;
    font-weight: 300;
    text-transform: uppercase;
    justify-content: center;
    -webkit-justify-content: center;

    i.material-icons { font-size: 30px; margin-right: $paddingMedium; }
  }
}

.container {
  padding: $paddingLarge;
}

.content {
  padding: $paddingLarge;
  border-radius: 0px 0px $borderRadius $borderRadius;
  background: white;
}

@media screen and (min-width: 768px) {
  padding-left: $paddingLarge*2;
  padding-right: $paddingLarge*2;
}


// ============== //
//     TABLE      //
// ============== //

table.table, table.data-table {
  width: 100%;
  border-collapse: collapse;

  thead {
    border-bottom: 1px solid $borderColor;
    tr {
      th {
        color: $secondaryColor;
        padding: $tableCellPadding;
        font-size: 16px;
        font-weight: 700;
      }
    }
  }

  tbody {
    tr {
      &:nth-child(2n+1) {
        background: $tableBandColor;
      }

      td {
        padding: $tableCellPadding;
        &.table-title {
          background: $primaryColor;
          color: white;
          text-align: center;
          font-size: 16px;
          font-weight: 300;
          text-transform: uppercase;
        }
      }
    }
  }
}

// ============== //
//     BUTTON     //
// ============== //

.btn {
  font-family: 'Roboto', 'sans-serif';
  padding: $btnPadding;
  color: $textColor;
  font-size: $btnFontSize;
  text-transform: uppercase;
  font-weight: $btnFontWeight;
  border-radius: $btnBorderRadius;
  @include inline-flex(row);
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  background: white;
  border: 1px solid $borderColor;
  transition: box-shadow 0.5s ease-in-out;
  cursor: pointer;
  @include elevation($btnElevation);

  i.material-icons { margin-right: $paddingMedium; }

  &:hover {
    @include elevation($btnHoverElevation);
  }

  &.btn-flat {
    border: none;
    border-radius: 0px;
    box-shadow: none !important;
    background: none;
    &:hover { background: transparentize($textColor, 0.7);}
  }

  &.btn-small {
    font-size: $btnFontSize - 5px;
    padding: $btnPadding/2;
    i.material-icons { font-size: 16px;}
  }
}

@each $name, $color in $btnColorMap {
  .btn-#{$name} {
    border: none;
    background: $color;
    color: white !important;
    transition: box-shadow 0.5s ease-in-out, background 0.5s ease-in-out;
    &:hover {
      background: darken($color, 20%);
    }
  }

  .btn-flat-#{$name} {
    transition: color 0.5s ease-in-out, background 0.5s ease-in-out;
    &:hover {
      color: $color;
      background: transparentize($color, 0.5);
    }
  }

}

// ============= //
//     CARD      //
// ============= //

.card {
  @include flex(column);
  position: relative;
  z-index: 5;
  width: 100%;
  border-radius: $cardBorderRadius;
  background: $cardBackground;
  border: 1px solid $cardBorderColor;
  overflow: hidden;
  @include elevation($cardElevation);
  section {
    display: flex;
    display: -webkit-flex;
    width: 100%;
    border-bottom: 1px solid $cardBorderColor;

    &:last-child {
      border-bottom: none;
    }
  }
  .item {
    flex-direction: column;
    -webkit-flex-direction: column;
    padding: $cardItemPadding;
  }

}

// ============= //
//     TABS      //
// ============= //

.tabs {
  @include flex(column);
  width: 100%;

  ul.tab-list {
    list-style-type: none;
    @include flex(row);
    li {
      padding: $tabListItemPadding;
      border-radius: $tabBorderRadius;
      font-weight: 500;
      cursor: pointer;
      transition: color 0.5s ease-in-out;
      &.active {
        border: 1px solid $borderColor;
        color: $tabActiveColor;
      }

      &:hover {
        color: $tabHoverColor;
      }
    }
  }

  .tab-content {
    padding: $tabContentPadding;
    border: 1px solid $borderColor;
    margin-top: $tabContentMargin;
    border-radius: $tabBorderRadius;

    .tab-item {
      display: none;
      &.active {
        @include flex(column);
      }
    }
  }
}

// ============== //
//     MODAL      //
// ============== //

.modal {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: $modalOverlayColor;
  &.open {
    @include flex(row);
    .modal-container {
      animation: flipInX 0.5s ease-in-out;
    }
  }
  .modal-container {
    width: $modalContainerWidth;
    min-width: 400px;
    margin: auto;
    background: $modalBackground;
    border-radius: $modalBorderRadius;
    border: 1px solid $modalBorderColor;

    .modal-content, .modal-footer, .modal-header {
      padding: $modalPadding;
    }

    .modal-footer {
      @include flex(row);
      border-top: 1px solid $modalBorderColor;
    }

    .modal-header {
      padding: $modalPadding;
      border-bottom: 1px solid $modalBorderColor;
      h2.title {
        @include flex(row);
        i.material-icons { margin-right: 8px; }
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -o-justify-content: center;
        justify-content: center;
        -ms-align-items: center;
        align-items: center;
        font-size: 1.5em;
        font-weight: 300;
        color: $modalTitleColor;
        text-transform: uppercase;
      }

    }
  }
}

// ============= //
//     FORM      //
// ============= //

form.form-ui {
  padding: $formPadding;

  .input-grp {
    @include flex(row);
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-align-items: center;
    align-items: center;
    width: 100%;
    padding: $formItemPadding;
    border-radius: $formItemBorderRadius;
    border: 1px solid $formItemBorderColor;
    margin: $formItemMargin 0px $formItemMargin 0px;

    .input-icon {
      padding-right: $formItemPadding;
      border-right: 1px solid $formItemBorderColor;
    }

    & > input {
      flex: 1;
      min-width: 100px;
      font-family: 'Roboto', 'sans-serif';
      color: $textColor;
      font-weight: 500;
      border: none;
      padding-left: $formItemPadding;
      padding-right: $formItemPadding;
      border-right: 1px solid $formItemBorderColor;
      &:last-child { border-right: none; }

      &:focus {
        outline: none;
        color: $formItemFocusColor;
      }

      &:place-holder {
        font-weight: 300;
      }
    }
  }
}

// =============== //
//     HEADER      //
// =============== //

//Navbar Top
#navbar-primary {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  padding: $navbarPadding;
  @include flex(row);

  .navbar-brand {
    display: none;
    #btn-hamburger-menu {
      color: white !important;
      i.material-icons {
        margin-right: 0;
      }
    }
  }

  ul.navbar-nav {
    @include flex(row);
    flex: 1;
    -webkit-flex: 1;
    list-style-type: none;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;

    li {
      a {
        color: white;
        display: block;
        padding: $paddingRectangle;
        font-weight: 500;
        transition: color 0.3s ease-in-out;
        border-radius: $borderRadius;
        cursor: pointer;

        &:hover {
          color: $highlightColor;
        }

        &.active {
          color: $primaryColor;
        }
      }//#navabr-primary .navbar-nav li a

      //dropdown list
      &.nav-dropdown {

        .dropdown-list {
          display: none;
        }
      }//#navabr-primary .navbar-nav li.nav-dropdown
    }//#navabr-primary .navbar-nav li

  }//#navabr-primary .navbar-nav


  //#navbar-primary.fixed
  &.fixed {
    //position: fixed;
    z-index: 100;
    //top: 0px;
    left: 0px;
    background: $navbarBackground;
    color: $navbarTextColor;
    @include elevation($navbarElevation);
    animation: fadeInDown 0.5s ease-in-out;

    ul.navbar-nav {
      li {

        a {
          color: $navbarLinkColor;

          &:hover { color: $navbarLinkHoverColor; }
          &.active { color: $navbarLinkActiveColor; background: $navbarLinkActiveBackground; }
        }
      }
    }//#navbar-primary.fixed .navbar-nav

  }//#navbar-primary.fixed
  @media screen and (min-width: 768px) {
    &.static {
      animation: flipInX 1s ease-in-out;
    }
  }
}//#navabr-primary

@media screen and (max-width: 768px) {
  #navbar-primary {
    //height: 72px;
    &.static {
      .navbar-brand {
        animation: flipInX 1s ease-in-out;
      }
    }

    .navbar-brand { display: initial; }

    ul.navbar-nav#nav-menu {
      position: fixed;
      width: 80vw;
      height: 200vh;
      top: 0px;
      left: -90vw;
      z-index: 120;
      background: white;
      transition: left 0.3s ease-in-out;
      -webkit-justify-content: flex-start;
      -moz-justify-content: flex-start;
      -ms-justify-content: flex-start;
      -o-justify-content: flex-start;
      justify-content: flex-start;
      @include elevation(4px);

      &:before {
        content: "";
        display: block;
        height: 72px;
        background: $navbarBackground;
      }

      &:focus { outline: none; }

      &.open {
        left: 0px;
      }

      @include flex(column);
      li {

        a {
          padding: $paddingLarge;
          color: $textColor !important;
        }
      }
    }
  }
}

header {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  z-index: 10;
  @include flex(column);

  #banner {
    z-index: 5;
    color: white;
    margin: auto;


    .conf-heading {
      text-align: center;
      h1.page-title {
        font-size: 3.5em;
        font-weight: 100;
        margin-bottom: 5%;
        color: white;
      }
      .banner-date {
        font-size: 1.5em;
        font-weight: 300;
        padding: $paddingMedium;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
      }
    }
  }//#banner

  .blurred-background {
    position: absolute;

    z-index: -5;
    width: 100%;
    height: 100%;
    @include parallax;
    transform: scale(1.1);
    background-image: url('../assets/images/nssce.jpg');
    filter: blur(5px);

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.7);
    }

  }//.blurred-background
}//header

// ============= //
//     MAIN      //
// ============= //

main {

  table.table.important-dates-table {
    td:first-child { font-weight: 500; }
  }

  #paper-submission, #accepted-papers {
    border-top: 1px solid $borderColor;
    padding-top: $paddingLarge;
  }

  .block {
    @include flex(row);
    padding: $paddingLarge;
  }

  .space-around {
    justify-content: space-around;
    -webkit-justify-content: space-around;
  }

  .wrapper .content {
    h4 {
      @include flex(row);
      align-items: center;
      -webkit-align-items: center;
      i.material-icons { margin-right: $paddingMedium; }
    }
  }

  #programme-schedule {
    table.table {
      border: 1px solid $borderColor;
      border-radius: $borderRadius;
      td {
        font-weight: 500;
        &.table-title { font-weight: 300;}
      }
    }
  }

  @media screen and (max-width: 768px) {

    #location-map, #contact-address {
      h4 {
        justify-content: center;
        -webkit-justify-content: center;
      }
      text-align: center;
      #map { height: 200px; }
    }

  }

  #keynote-speakers {
    .speaker-col {
      padding: $paddingSmall;
    }
    .card.speaker-card {
      .profile {
        width: 100%;
        .profile-image img{
          width: 100%;
        }

        .profile-data {
          @include flex(column);
          align-items: center;
          -webkit-align-items: center;

          .profile-name {
            font-size: 18px;
            font-weight: 500;
          }

          .profile-detail {
            font-size: 13px;
            font-weight: 300;
          }
        }
      }//.profile

      .bio {
        position: absolute;
        top: 0px;
        left: 100%;
        height: 100%;
        width: 100%;
        background: $textColor;
        color: white;
        padding: $cardItemPadding;
        padding-top: $cardItemPadding + 30px;
        font-weight: 500;
        z-index: 10;
        transition: left 0.2s ease-in-out;

        &.open {
          left: 0px;
        }

        .btn-close-bio {
          @include flex(row);
          position: absolute;
          top: 8px;
          right: 8px;
          color: white;
          width: 24px;
          height: 24px;
          border-radius: 50%;
          align-items: center;
          -webkit-align-items: center;
          transition: background 0.5s ease-in-out;
          padding: 0px;

          i.material-icons { margin: 0; }

          &:hover {
            background: $primaryColor;
          }
        }//.btn-close-bio
      }//.bio
    }//.speaker-card
  }//#keynote-speakers

  #contact {
    .grid-12.row {
      -ms-align-items: stretch;
      -webkit-align-items: stretch;
      align-items: stretch;
    }
  }

  #location-map {
    #map {
      width: 100%;
      min-height: 400px;
    }
  }

  #about {
    figure {
      width: 100%;
      overflow: hidden;
      border-radius: $borderRadius;
      z-index: 5;
      img {
        width: 220%;
        margin:  0px -60% 0px -60%;
      }
    }

    #about-detail {
      padding-left: $paddingLarge*2;
    }

    @media screen and (max-width: 768px) {
      figure {
        img { width: 100%; margin: 0px; }
      }

      #about-detail { padding-left: 0;}
    }//@media
  }//#about
}//main

footer {
  @include flex(column);
  background: $footerBackground;
  color: $footerTextColor;

  #copyright {
    @include flex(row);
    padding: $footerPadding;
    font-weight: 500;
    background: $primaryColor;
    a {
      color: white;
      &:hover { color: $highlightColor; }
    }
  }
}//footer
